# dependencies
node_modules/
.pnpm-debug.log*

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# project specific
temp/
docs/tasks.md
cookies.json
cookies.txt
package-lock.json
frontend/public/data/source_dataset.csv

# Turbo & Build Artifacts
.turbo/
frontend/.turbo/
frontend/.next/
